/*로딩 메세지--------------------*/
.loadMessage{
    font-size: large;
    color: #B0926A;
    font-weight: bolder;
    padding-top: 30px;
    padding-bottom: 30px;
}
/*페이지 사이즈--------------------*/
.pageTop{
    height: 50px;
}
.pageBottom{
    background-color: #a1887f;
    height: 100px;
    margin-top: 20px;
}
/*카테고리--------------------*/
li{
    list-style: none;
}
ul li a{
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    text-decoration: none;
}
ul li a:hover{color:pink;}
ul li a p{
    font-weight:bold;
    margin: 13px 20px;
}
/*Middle--------------------*/
.textBox{
    padding: 30px;
    margin-top: 80px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;  
}
.kategorieButton button{
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 25px;
    width: 65px;
    height: 40px;
    cursor: pointer;
    background-color: #a1887f;
    text-align: center;
    font-size: 13px;
    border: none;
    border-radius: 50%;
    font-weight: bold; 
    color: white; 
}
.kategorieButton button:hover{
    color: pink;
}
/*API 화면--------------------*/
.middleArea{
    display: flex;
    justify-content: center;
}
.animalArea{
    display: grid;
    grid-template: repeat(6, 360px) / repeat(5, 1fr); /*350px 높이의 행2개와 분수폭이 동일한 열5개*/
    row-gap: 10px;
    column-gap: 20px;
}
.animalBox{
    text-align: center;
    background-color: #a1887f;
    padding: 5px;
    width: 250px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
}
.infoBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*API 파트--------------------*/
.animalImg{
    width: 200px;
    height: 210px;
    margin-top: 25px;
    border: solid;
    border-width: 5px;
    border-color: white;
    cursor: pointer;
}
.animalImg:hover{
    opacity: 0.5;
}
.nameBox{
    font-size: 15px;
    font-weight: bold;  
    text-align: center;
}
/*모달창-------------------*/
.modal_1{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}
.modalInfoBox{
    background-color: #a1887f;   
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    border-radius: 3%;
    width: 650px;
    height: 360px;
    border-style: solid;
    border-color: white;
    border-width: 6px;

}
.modalImgBox{
    display: flex;
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    
}
.modalAnimalImg{
    width: 300px;
    height: 310px;
    align-items: center;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    border-radius: 5%;
}
span{
    float: right;
}
.close{
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    color: white;
    font-size: large;
}
.close:hover{
    opacity: 0.5;
}
.box p{
    font-weight: 600;
    justify-content: left;
    align-items: center;
    text-align: left;
    padding-left: 20px;
    width: 300px;
}