/*제목--------------------*/
h3{
    color: black;
    font-weight: 600;
    font-size: 50px;
    text-align:center;
}
hr{
    width: 95%
}
/*페이지 사이즈--------------------*/
.pageTop{
    background: white;
    /* width: 100%; */
    height: 300px;
    padding-top: 20px;
}
.pageMiddle{
    height: 1470px;
}
.pageBottom{
    background: whitesmoke;
    height: 150px;
}
/*카테고리--------------------*/
li{
    list-style: none;
}
ul li{
    display: flex;
    justify-content: center;
} 
ul li a{
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    text-decoration: none;
}
ul li a:hover{color:pink;}
ul li a p{
    font-weight:bold;
    margin: 13px 20px;
}
/*Middle--------------------*/
.textBox{
    padding: 30px;
    margin-top: 80px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;  
}
.kategorieButton button{
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 25px;
    width: 70px;
    height: 30px;
    cursor: pointer;
    background-color: pink;
    text-align: center;
    font-size: 13px;
    border: none;
    border-radius: 10%;
    font-weight: bold;  
}
.kategorieButton button:hover{
    color: gray;
}
/*API 화면--------------------*/
.middleArea{
    display: flex;
    justify-content: center;
}
.animalArea{
    display: grid;
    grid-template: repeat(3, 320px) / repeat(5, 1fr); /*300px 높이의 행2개와 분수폭이 동일한 열3개*/
    row-gap: 10px;
    column-gap: 20px;
}
.animalBox{
    text-align: center;
    background-color: pink;
    padding: 5px;
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
}
.infoBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*API 파트--------------------*/
.animalImg{
    width: 170px;
    height: 180px;
    margin-top: 15px;
    border: solid;
    border-width: 5px;
    border-color: white;
    cursor: pointer;
}
.animalImg:hover{
    opacity: 0.5;
}
.nameBox{
    font-size: 13px;
    font-weight: bold;  
    text-align: center;
}
/*모달창-------------------*/
.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}
.modalInfoBox{
    background-color: aliceblue;   
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    border-radius: 5%;
    width: 650px;
    height: 360px;
}
.modalImgBox{
    display: flex;
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
}
.modalAnimalImg{
    width: 300px;
    height: 310px;
    align-items: center;
    border-style: solid;
    border-color: silver;
    border-width: 7px;
    border-radius: 5%;
}
span{
    float: right;
}
.close{
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    color: gray;
}
.close:hover{
    opacity: 0.5;
}
.box p{
    font-weight: 600;
    font-size: medium;
    justify-content: left;
    align-items: center;
    text-align: left;
    padding-left: 10px;
    width: 300px;
}