body{
    right: 100px;
}

#slider_container{
    margin: 30px 0;
}

#bar{
    background-color: #B0926A;
}


.slick-initialized .slick-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide_image{
    height:700px;
}

#bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border-bottom: 1px solid black; */
    width: 100%;
}

#bar div{
    width : 33%;
}

#bar #title{
    text-align: center;
}

#bar #login{
    text-align: center;
}

#menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a{
    text-decoration-line: none;
    color: black;
    font-size: 130%;
}
